
.info-about{
    margin: 100px;
}
.info-about-title{
    color: black;
    font-weight: 500;
    font-size: 4vw;
}
.info-about-subtitle{
    color: black;
    font-weight: 500;
    font-size: 1.5vw;
}
.about-line{
    height: 2px;
    background-color: black;
    width: 15vw;
    margin-bottom: 5vh;
}
.about-main{
    display: flex;
}
.about-left{
    display: flex;
    align-items: center;
}
.about-right{
    display: flex;
    margin-left:5vw;
    align-items: center;
}
.about-tesise{
    margin-left: 2vw;
}