.tovar-list{
    margin-right: 10vw;
    width: 25vw;
}
.tovar-list1{
    margin-right: 2vw;
    width: 25vw;
}
.cart-info{
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    text-align: left;
}
.tovar-img{
    border: 2px;
    width: 5vw;
    height: 5vw;
    margin: 1vh;
}
.tovar-item{
    align-items: center;
    display: flex;
    border:1px solid #f3f3f3;   
    border-top-width: 0px;
    text-align: left;
}
.tovar-item1{
    align-items: center;
    display: flex;
    border:1px solid #f3f3f3;   
    border-top-width: 0px;
    text-align: left;
    justify-content: space-between;
}

.cart-title{
    font-size: 1.2vw;
    padding:3vh;
    margin-bottom: -0.2vh;
    font-weight: 400;
    background-color: #f3f3f3;
    border-radius: 5px 5px 0 0;
}
.star1{
    font-size: 0.8vw;
    line-height: 0;
    padding-right: 6px;
    color: #e69900;
    margin-top: 1vh;
}
.cart-price{
    font-weight: 400;
    padding-left: 1vw;
    font-size: 0.8vw;
}
.cart-count-item{
    display: flex;
    align-items: center;
    margin-left: 1vw;
    border-radius: 5px;
    border: 1px solid #bebebe;
}
.cart-count-button{
    padding: 0px;
    background-color: transparent;
    border: 0px;
    width: 1.5vw;
    height: 3vh;
    color:#bebebe;
    transition: all 0.3s;
    font-weight: 100;
}
.cart-count-button:hover{
    color: #817f7f;
    cursor: pointer;
}
.cart-count-input{
    outline: 0px;
    border: 0px;
    text-align: center;
    max-width: 2vw;
    font-size: 0.8vw;
}
.cart-process{
    width: 40vw;
    border:1px solid #f3f3f3;
}
.cart-item-title{
    font-size: 0.8vw;
    font-weight: 400;
    margin: 0;
    padding-bottom: 1vh;
}
.delete{
    padding: 0 0 0 0.2vw;
    margin: 0; 
}
.delete-item{
    display: flex;
    color: #686868;
    font-size: 0.8vw;
    padding: 0;
    border:0px;
    background-color: transparent;
    cursor: pointer;
}
.delete-item:hover{
    color: #000000;
}