.footer{
    width: 100%;
    text-align: center;
    background-color: #303030;
    bottom: 0;
    width: 100%;
}
.cont{
    width: 85%;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #303030;
}
.footer.cont{
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
.contacts{
    font-size: 0.8vw;
    justify-content: right;
    align-items: center;
    align-content: center;
    color:white;
}
.contacts.left{
    display: flex;
}
.contact{
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 10px;
}
.about{
    padding-left: 100px;
}