/* theme.css */
.search-block input{
    width: 25vw;
    border:0px;
    font-size: 0.8vw;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    outline: 0;
    outline-offset: 0;
}
.search-block li{
    list-style-type:none;
    text-align: left;
}
.search-block li:hover{
    background-color: #2374e1;
}
.search-block ul{
    border:1px solid #2374e1;
    border-radius: 1px;
    font-size: 0.8vw;
    width: 25vw;
    background-color: white;
    position: absolute;
    z-index: 10000000000000000;
}